.projects-div{
    min-height: 750px;
}
.experience-div{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: flex-start;
}

.entire-card{
    display: block;
    margin: auto;
    padding: 5px;
   
}
.card{
    display: block;
    margin: auto;
    max-width: 400px;
    min-height: 20dvh;
    background-color: lavender;
    border-radius: 10px;
    color: darkslategrey;
    opacity: 70%;
}

.card-body{
    margin:auto;
    padding: 10px;
}

.title{
    font-size: larger;
    font-weight: 800;
    padding: 2px;
    
    
}

.subtitle{
    font-weight: 400;
    hyphens: auto;
}

.text{
    font-size: small;
    font-weight: 600;
    hyphens: auto;
}

.subtext{
    font-size: x-small;
    hyphens: auto;
}

.title-text {
    font-size: 35px;
    font-weight: 800;
    height: 70px;
}
