/* Add a blinking cursor to the animation */
body {
    display: block;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 450;
    color: aliceblue;

    /* animation: backgroundColorPalette 10s infinite; */
    animation: backgroundColorPalette 10s infinite;

}


@keyframes backgroundColorPalette {
    0% {
        background: rgb(100, 176, 223);
    }

    33% {
        background: lightcoral;
    }

    /* 66% {
        background: lightblue;
    } */

    100% {
        background: rgb(100, 176, 223);
    }
}
.home-div{
    min-height: 750px;
    width: fit-content;
    /* max-width: 100vw; */
    margin: auto;
}
/* typewriter with blinking cursor effect */
.name-intro{
    display: inline-block;
    position: relative;
    top: 100px;
    /* height: 100px; */
    width: fit-content;
    font-size: 7vw;
    margin: auto;
    border-right: 0.08em solid aliceblue;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typing effect */

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: aliceblue; }
}


.name-intro p {
    font-size: 5vw;
}

.study-intro {
    display: inline-block;
    width: 100vw;
    margin: auto;
    position: relative;
    top: 50px;
    border-right: 0.08em solid rgba(255, 255, 255, 0.75);

}


.study-intro p {
    width: 100vw;
    font-size: 3dvh;
    word-wrap: break-word;

}