.socials-div{
    height: 300px;
    font-size: large;

}
.social-bar{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}
.logo{
    display: block;
    padding: 10px;
}