.App {
  text-align: center;
  text-shadow:1px 1px 1px #fff, 1px 1px 10px #ccc;
  height: 100vh;
  width: 100vw;
  background-color: rgb(4, 1, 34);
  /* background-image: linear-gradient(rgb(100, 176, 223),rgb(143, 204, 196)); */
}
